[run]
source =
    ./async_firebase
omit =
    # omit tests
    */tests/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    pragma: no cover
    Should not reach here
    def __repr__
    raise NotImplementedError
    except ImportError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
