exclude: '^tests'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      # forgotten debugger imports like pdb
      - id: debug-statements
      # merge cruft like '<<<<<<< '
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        args: [--no-error-summary, --hide-error-codes, --follow-imports=skip]
        files: ^async_firebase/
        additional_dependencies: [types-setuptools]
