name: CD

on:
  push:
    branches:
      - "master"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  create-virtualenv:
    runs-on: ubuntu-latest
    steps:
      - name: source code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: virtualenv cache
        uses: syphar/restore-virtualenv@v1.2
        id: cache-virtualenv

      - name: pip cache
        uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - name: Install Python dependencies
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        env:
          POETRY_VERSION: 1.1.12
          POETRY_NO_INTERACTION: 1
        run: |
          pip install pip==21.3.1 setuptools==59.6.0
          curl -sSL https://install.python-poetry.org | python3 -
          poetry install --no-interaction

      - name: Log currently installed packages and versions
        run: pip list

  release:
    needs: create-virtualenv
    runs-on: ubuntu-latest
    steps:
      - name: source code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Release to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          POETRY_VERSION: 1.1.12
          POETRY_NO_INTERACTION: 1
        run: |
          pip install pip==21.1.1 setuptools==50.3.2
          curl -sSL https://install.python-poetry.org | python3 -
          poetry build
          poetry config pypi-token.pypi $PYPI_TOKEN
          poetry publish
